/* common  */
* {
    Box-sizing: border-box;
    Margin: 0;
    Padding: 0;
}
body {
    font-family: 'Nerko One', cursive;
    background: #ADD8E6;
}
main {
    width: 800px;
    margin: 10px auto;
    /* background-color: red; */
}

/* texts  */
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 0px black;
}
/* Come si fa a fare border su testo se non usando le shadow? */

/* main  */

/* righe  */
.row {
    height: 200px;
}

.first {
    /* background-color: black; */
    position: relative; 
}

.second {
    /* background-color: blue; */
    position: relative;
}

.third {
    /* background-color: violet; */
    position: relative;
}

/* card che definiscono colonne  */
.cards {
    margin: 0px 2.5% 0px 2.5%;
    width: 20%;
    height: 90%;
    background-color: white;
    background-image: url(../img/pattern.png);
    background-size: 100%;
    border: 1px solid lightgrey;
    border-radius: 15px;
    box-shadow: 1px 2px 5px black;
}
/* come si rende l'effetto di tridimensionalità nel caso? con z index?  */

/* Rows  */
.one {
    position: absolute;
    top: 0px;
    left: 0%;
}

.two {
    position: absolute;
    top: 0px;
    left: 25%;
}

.three {
    position: absolute;
    top: 0px;
    left: 50%;
}

.four {
    position: absolute;
    top: 0px;
    left: 75%;
}

/* hovers "random " */
#uno:hover {
    background: url(../img/noun_air_balloon_3134741.png);
    background-color: white;
    padding: 10px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 10px;
}

#due:hover {

}