/* common  */
* {
    Box-sizing: border-box;
    Margin: 0;
    Padding: 0;
}
body {
    font-family: 'Nerko One', cursive;
    background: #ADD8E6;
}
main {
    width: 50%;
    margin: 10px auto;
    /* background-color: red; */
}

/* texts  */
h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 0px black;
}
/* Come si fa a fare border su testo se non usando le shadow? */

/* main  */
.card {
    margin: 5px 2%;
    float: left;
    width: 21%;
    height: 90%;
    background-color: white;
    background-image: url(../img/pattern.png);
    background-size: 100%;
    border: 1px solid lightgrey;
    border-radius: 15px;
    box-shadow: 1px 2px 5px black;
}


/* carte singole  */
.card img {
    width: 100%;
    /* visibility: hidden; */
}

.card p {
    /* display: none; */
    text-align: center;
    
}


/* come si rende l'effetto di tridimensionalità nel caso? con z index?  */
